In [28]:
import numpy as np
import pandas as pd
import matplotlib as mtp

In [57]:
df_y = pd.read_csv('Donwload from ILOSTAT  - EAR_4HRL_SEX_CUR_NB_A-filtered-2025-05-24.csv', usecols=['ref_area.label','indicator.label','sex.label','classif1.label','time','obs_value','note_indicator.label'])

df_y.head()

df_y_filtered = df_y.loc[df_y["sex.label"]=='Female']
df_y_filtered_2 = df_y_filtered.loc[df_y["classif1.label"]=='Currency: U.S. dollars']

df_y_filtered_2.head()

df_new = df_y_filtered_2

country_stats = df_new.groupby('ref_area.label')['obs_value'].agg(mean='mean',median="median",std="std",count="size",min="min",max="max").sort_values('mean',ascending=False)
country_stats.head()

                    mean  median       std  count    min    max
ref_area.label
Uruguay         6.684500  6.6845  0.689429      2  6.197  7.172
Costa Rica      5.945364  5.8240  0.827352     11  4.940  7.868
Panama          5.363727  5.3960  0.978262     11  3.956  7.142
Chile           5.073700  5.0120  0.645118     10  4.279  6.524
Argentina       4.334125  4.2385  0.741315      8  3.547  5.745